{% extends 'base.html' %}
{% load static %}
{% block content%}

  <main id="main">
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5 aos-init aos-animate" data-aos="fade-up">
          <h2>Categories</h2>
        </div>

        <div class="row">
          {% for item in cat_list %}
          <div class="col-md-4">
            <div class="icon-box aos-init aos-animate" data-aos="fade-up">
              <div class="icon"></div>
              <h2 class="title text-align-center "><a href="{% url 'img_category' item %}">{{ item }}</a></h2>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>
  </main>
{% endblock content%}
